

<%= turbo_frame_tag "modal" do %>  

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="bs-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <h2 class="text-center my-3 modal-title"> <%= t :new_provider  %> </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <%= render "form", provider: @provider %>   
      </div>

    </div>
  </div>
</div>
<% end %>