<% if flash[:notice] %>  
  <p class="alert alert-success notice mx-3 py-3"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p class="alert alert-danger alert mx-3 py-3"><%= alert %></p>
<% end %>